.page-header a {
	color: #505160;
}

.page-header {
	background-color: #598234;
	font-family: 'Cabin';
	padding: 20px 20px 20px 10px;
}

.post a {
	color: #505160;
	font-family: 'Cabin';
}

.post {
	background-color: #598234;
	font-family: 'Cabin';
	color: #AEBD38;
	padding: 0px 10px;
}

body {
	background-color: #505160;


