.page-header {
	background-color: #a52a2a;
	font-family: 'Lobster';
	color: #778899;
	padding: 20px 20px 20px 10px;
}


h1 a {
}

.post {
	background-color: #a0522d;
	font-family: 'monospace';
	color: #cdc5bf;
}

body {
	background-color: #2f4f4f;
}

