.page-header {
	background-color: #a52a2a;
	font-family: 'Lobster';
	color: #778899;
	padding: 20px 20px 20px 10px;
}


.post {
	background-color: #000000;
	font-family: 'monospace';
	color: #98fb98;
}

body {
	background-color: #B00000;
	height: 100%;
}

